@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnSmall {
    @apply rounded-xl min-h-[48px] text-[16px] px-[21px] py-[8px];
  }
  .btnLarge {
    @apply rounded-xl mt-[16px] w-[100%] min-h-[48px] text-[14px] px-[24px] py-[12px] h-[24px];
  }
}

.textFont {
  font-family: "Poppins";
}

.card-zoom {
  transition: transform .3s;
}

.card-zoom:hover {
  transform: scale(1.01);
  /* border-color: black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}